body {
  font-family: 'Open Sans', sans-serif;
}

#page-container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
}

#mode-select {
  margin-bottom: 8px;
}

#app-body {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 960px;
  height: 540px;
}

#app-body > div {
  display: inline-block;
  float: left;
}

#app-body .panel {
  width: 280px;
  height: 500px;
  padding: 20px 19px 20px 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#app-body .panel .tab-pane {
  height: 100%;
  position: relative;
}

.inactive {
  display: none;
}

td.var-name {
  font-weight: bold;
  padding: 0 5px 0 10px;
}

div.instructions {
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
}

div.instructions > ul {
  margin-bottom: 0;
}

div.instructions > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

#app-body .graph {
  width: 640px;
  height: 540px;
}

svg {
  background-color: #FFF;
  border-radius: 0 3px 3px 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg.edit:not(.active) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg.edit:not(.active) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font-size: 12px;
  pointer-events: none;
}

text.shadow {
  stroke: #FFF;
  stroke-width: 3px;
  stroke-opacity: 0.8;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
